{% extends "layout.html" %}

{% block pageTitle %}
	Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
	{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

	{{ govukBreadcrumbs({
	  items: [
	    {
	      text: "Manage your training",
	      href: "/dashboard-v3/dashboard-v2-6"
	    },
	    {
	      text: "Manage mentors and ECTs",
	      href: "/dashboard-v3/manage-mentors-and-ects-alert-1"
	    }
	  ]
	}) }}
{% endblock %}

{% block content %}

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">

			<span class="govuk-caption-l">
				ABC School
			</span>
			<h1 class="govuk-heading-xl">
				Manage mentors and ECTs
			</h1>

			<form class="form" action="#" method="post">

				<div class="wrapper-dashboard-v2 manage-mentors-ects">

					<button class="govuk-button" data-module="govuk-button">
						Add ECT or mentor
					</button>

					<br>

					<div class="govuk-warning-text">
						<span class="govuk-warning-text__icon" aria-hidden="true">!</span>
					<strong class="govuk-warning-text__text">
						<span class="govuk-warning-text__assistive">Warning</span>
							You need to assign a mentor to these ETCs.
						</strong>
					</div> <!-- /.govuk-warning-text -->

					<!-- Unassigned ECTs -->
					<div class="group-card group-card-no-border" aria-label="No mentor group">
						<h2 class="govuk-visually-hidden">No mentor group</h2>
						<dl class="govuk-summary-list govuk-summary-list--no-border">
							<div class="govuk-summary-list__row">
								<dt class="govuk-summary-list__key govuk-!-font-weight-regular govuk-!-padding-bottom-static-0">
									<a class="govuk-link govuk-link--no-visited-state" href="/dashboard-v3/participant-ect-louise-petros">
										Louise Petros
									</a>
								</dt>
								<dd class="govuk-summary-list__value govuk-!-padding-bottom-static-0">
									<strong class="govuk-tag govuk-tag--green">
										Training
									</strong>
								</dd>
							</div>
							<div class="govuk-summary-list__row">
								<dt class="govuk-summary-list__key govuk-!-font-weight-regular govuk-!-padding-bottom-static-0">
									<a class="govuk-link govuk-link--no-visited-state" href="#">
										Carl Owen
									</a>
								</dt>
								<dd class="govuk-summary-list__value govuk-!-padding-bottom-static-0">
									<strong class="govuk-tag govuk-tag--green">
										Training
									</strong>
								</dd>
							</div>
						</dl>
					</div>
					<!-- /a11y v2 - a11y improvement -->

					<br>

					<!-- Assigned ECTs -->
					<div class="group-card" aria-label="Mentor group">
						<h2 class="govuk-visually-hidden">Mentor group</h2>
						<h3 class="govuk-heading-s">
							Mentor <span class="govuk-visually-hidden">- Hayate Jannat</span>
						</h3>
						<dl class="govuk-summary-list govuk-summary-list--no-border">
							<div class="govuk-summary-list__row">
								<dt class="govuk-summary-list__key govuk-!-font-weight-regular">
									<a class="govuk-link govuk-link--no-visited-state" href="/dashboard-v3/participant-mentor-hayate-jannat">
										Hayate Jannat
									</a>
								</dt>
								<dd class="govuk-summary-list__value">
									<strong class="govuk-tag govuk-tag--green">
										Mentoring
									</strong>
								</dd>
							</div>
						</dl>
						<h3 class="govuk-heading-s">
							ECTs <span class="govuk-visually-hidden">mentored by Hayate Jannat</span>
						</h3>
						<dl class="govuk-summary-list govuk-summary-list--no-border">
							<div class="govuk-summary-list__row">
								<dt class="govuk-summary-list__key govuk-!-font-weight-regular govuk-!-padding-bottom-static-0">
									<a class="govuk-link govuk-link--no-visited-state" href="#">
										Emmanuel Takumi
									</a>
								</dt>
								<dd class="govuk-summary-list__value govuk-!-padding-bottom-static-0">
									<strong class="govuk-tag govuk-tag--grey">
										Training deferred
									</strong>
								</dd>
							</div>
							<div class="govuk-summary-list__row">
								<dt class="govuk-summary-list__key govuk-!-font-weight-regular govuk-!-padding-bottom-static-0">
									<a class="govuk-link govuk-link--no-visited-state" href="/dashboard-v3/participant-ect-keisha-edwina">
										Keisha Edwina
									</a>
								</dt>
								<dd class="govuk-summary-list__value govuk-!-padding-bottom-static-0">
									<strong class="govuk-tag govuk-tag--green">
										Training
									</strong>
								</dd>
							</div>
						</dl>
					</div>
					<!-- /a11y v2 - a11y improvement -->

					<br>

					<div class="group-card" aria-label="Mentor group">
						<h2 class="govuk-visually-hidden">Mentor group</h2>
						<h3 class="govuk-heading-s">
							Mentor <span class="govuk-visually-hidden">- Jan tracey</span>
						</h3>
						<dl class="govuk-summary-list govuk-summary-list--no-border">
							<div class="govuk-summary-list__row">
								<dt class="govuk-summary-list__key govuk-!-font-weight-regular">
									<a class="govuk-link govuk-link--no-visited-state" href="#">
										Jan tracey
									</a>
								</dt>
								<dd class="govuk-summary-list__value">
									<strong class="govuk-tag govuk-tag--green">
										Mentoring
									</strong>
								</dd>
							</div>
						</dl>
						<h3 class="govuk-heading-s">
							ECTs <span class="govuk-visually-hidden">mentored by Jan tracey</span>
						</h3>
						<dl class="govuk-summary-list govuk-summary-list--no-border">
							<div class="govuk-summary-list__row">
								<dt class="govuk-summary-list__key govuk-!-font-weight-regular govuk-!-padding-bottom-static-0">
									<a class="govuk-link govuk-link--no-visited-state" href="#">
										Laurence Firoozeh
									</a>
								</dt>
								<dd class="govuk-summary-list__value govuk-!-padding-bottom-static-0">
									<strong class="govuk-tag govuk-tag--green">
										Training
									</strong>
								</dd>
							</div>
							<div class="govuk-summary-list__row">
								<dt class="govuk-summary-list__key govuk-!-font-weight-regular govuk-!-padding-bottom-static-0">
									<a class="govuk-link govuk-link--no-visited-state" href="#">
										Susanna Pelo
									</a>
								</dt>
								<dd class="govuk-summary-list__value govuk-!-padding-bottom-static-0">
									<strong class="govuk-tag govuk-tag--grey">
										Waiting for QTS
									</strong>
								</dd>
							</div>
						</dl>
					</div>
					<!-- /a11y v2 - a11y improvement -->

					<br>

					<div class="group-card" aria-label="Mentor group">
						<h2 class="govuk-visually-hidden">Mentor group</h2>
						<h3 class="govuk-heading-s">
							Mentor <span class="govuk-visually-hidden">- Marcy Erna</span>
						</h3>
						<dl class="govuk-summary-list govuk-summary-list--no-border">
							<div class="govuk-summary-list__row">
								<dt class="govuk-summary-list__key govuk-!-font-weight-regular">
									<a class="govuk-link govuk-link--no-visited-state" href="#">
										Marcy Erna
									</a>
								</dt>
								<dd class="govuk-summary-list__value">
									<strong class="govuk-tag govuk-tag--green">
										Mentoring
									</strong>
								</dd>
							</div>
						</dl>
						<h3 class="govuk-heading-s">
							ECTs <span class="govuk-visually-hidden">mentored by Marcy Erna</span>
						</h3>
						<dl class="govuk-summary-list govuk-summary-list--no-border">
							<div class="govuk-summary-list__row">
								<dt class="govuk-summary-list__key govuk-!-font-weight-regular govuk-!-padding-bottom-static-0">
									<a class="govuk-link govuk-link--no-visited-state" href="#">
										Memet Jacob
									</a>
								</dt>
								<dd class="govuk-summary-list__value govuk-!-padding-bottom-static-0">
									<strong class="govuk-tag govuk-tag--green">
										Training
									</strong>
								</dd>
							</div>
							<div class="govuk-summary-list__row">
								<dt class="govuk-summary-list__key govuk-!-font-weight-regular govuk-!-padding-bottom-static-0">
									<a class="govuk-link govuk-link--no-visited-state" href="#">
										Kirsty Alexandra
									</a>
								</dt>
								<dd class="govuk-summary-list__value govuk-!-padding-bottom-static-0">
									<strong class="govuk-tag govuk-tag--green">
										Training
									</strong>
								</dd>
							</div>
						</dl>
					</div>
					<!-- /a11y v2 - a11y improvement -->

					<br>

					<!-- Not mentoring -->
					<div class="group-card group-card-no-border" aria-label="Unassigned mentor group">
						<h2 class="govuk-visually-hidden">Unassigned mentor group</h2>
						<h3 class="govuk-heading-s">
							Mentor <span class="govuk-visually-hidden">- Nandita Carla</span>
						</h3>
						<dl class="govuk-summary-list govuk-summary-list--no-border">
							<div class="govuk-summary-list__row">
								<dt class="govuk-summary-list__key govuk-!-font-weight-regular">
									<a class="govuk-link govuk-link--no-visited-state" href="/dashboard-v3/participant-mentor-nadita-carla">
										Nandita Carla
									</a>
								</dt>
								<dd class="govuk-summary-list__value">
									<strong class="govuk-tag govuk-tag--grey">
									NOT MENTORING
								</strong>
								</dd>
							</div>
						</dl>
					</div>
					<!-- /a11y v2 - a11y improvement -->

				</div> <!-- /.wrapper-dashboard-v2 -->

			</form>

		</div>
	</div>

{% endblock %}
