{% extends "layout.html" %}

{% block pageTitle %}
	Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
	<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">

			<span class="govuk-caption-l">
				ABC School
			</span>
			<h1 class="govuk-heading-xl">
				Manage mentors and ECTs
			</h1>

			<form class="form" action="#" method="post">

				<div class="wrapper-dashboard-v2 manage-mentors-ects">


					<button class="govuk-button" data-module="govuk-button">
						Add ECT or mentor
					</button>
					<hr>
					<br>

					<h2 class="govuk-heading-m">
						Actions
					</h2>
					<p class="govuk-body alert">
						<span class="govuk-warning-text__icon-custom-1" aria-hidden="true">!</span> Your school has ECTs with unassigned mentors.
					</p>

					<h4 class="govuk-heading-s">
						ECTs with unassigned mentors
					</h4>

					<p class="govuk-body alert">
						<span class="govuk-warning-text__icon-custom-1" aria-hidden="true">!</span> <a class="govuk-link" href="#">
									Louise Petros<span class="govuk-visually-hidden"> ect</span></a>
					</p>

					<hr>
					<br>
					<!-- <dl class="govuk-summary-list govuk-summary-list-card summary - mentor and assigned ECTs -->
					<dl class="govuk-summary-list govuk-summary-list-card govuk-summary-list--no-border govuk-summary-list--single-border">
						<div class="govuk-summary-list__row">
							<dd class="govuk-summary-list__actions">
								<a class="govuk-link" href="/dashboard-v2-6-1/participant-mentor-holly-evans">
									<strong>Mentor - Holly Evans</strong><span class="govuk-visually-hidden"> mentor</span>
								</a>
							</dd>
							<dd class="govuk-summary-list__value govuk-summary-list__value-manage-participants">
								<strong class="govuk-tag govuk-tag--green">
									Training	
								</strong>
							</dd>
						</div>
						
						<div class="govuk-summary-list__row">
							<dt class="govuk-summary-list__key govuk-summary-list__key-manage-participants">
								<h3 class="govuk-heading-s">ECTs</h3>
							</dt>
						</div>
						
						<div class="govuk-summary-list__row etc">
							<dd class="govuk-summary-list__actions ">
								<a class="govuk-link" href="/dashboard-v2-6-1/participant-ect-jack-nicholson">
									Jack Nicholson<span class="govuk-visually-hidden"> ect</span>
								</a>
							</dd>
							<dd class="govuk-summary-list__value govuk-summary-list__value-manage-participants">
								<strong class="govuk-tag govuk-tag--green">
									Training
								</strong>
							</dd>
						</div>
						
						<div class="govuk-summary-list__row etc">
							<dd class="govuk-summary-list__actions ">
								<a class="govuk-link" href="/dashboard-v2-6-1/participant-ect-russel-burgess">
									Russel Burgess<span class="govuk-visually-hidden"> ect</span>
								</a>
							</dd>
							<dd class="govuk-summary-list__value govuk-summary-list__value-manage-participants ">
								<strong class="govuk-tag">
									No induction start date
								</strong>
							</dd>
						</div>

						<div class="govuk-summary-list__row etc">
							<dd class="govuk-summary-list__actions ">
								<a class="govuk-link" href="#">
									Sophie Smith<span class="govuk-visually-hidden"> ect</span>
								</a>
							</dd>
							<dd class="govuk-summary-list__value govuk-summary-list__value-manage-participants ">
								<strong class="govuk-tag govuk-tag--green">
									Training
								</strong>
							</dd>
						</div>

						<div class="govuk-summary-list__row etc">
							<dd class="govuk-summary-list__actions ">
								<a class="govuk-link" href="/dashboard-v2-6-1/participant-ect-john-scott">
									John Scott<span class="govuk-visually-hidden"> ect</span>
								</a>
							</dd>
							<dd class="govuk-summary-list__value govuk-summary-list__value-manage-participants ">
								<strong class="govuk-tag govuk-tag--grey">
									Waiting for QTS
								</strong>
							</dd>
						</div>
					</dl>
					<!-- /summary - mentor and assigned ECTs -->

					<hr>
					<br>

					<!-- summary - mentor and assigned ECTs -->
					<dl class="govuk-summary-list govuk-summary-list-card govuk-summary-list--no-border govuk-summary-list--single-border">
						<div class="govuk-summary-list__row">
							<dd class="govuk-summary-list__actions">
								<a class="govuk-link" href="#">
									<strong>Mentor - Jane Bond</strong><span class="govuk-visually-hidden"> mentor</span>
								</a>
							</dd>
							<dd class="govuk-summary-list__value govuk-summary-list__value-manage-participants">
								<strong class="govuk-tag govuk-tag--green">
									Training
								</strong>
							</dd>
						</div>
						
						<div class="govuk-summary-list__row">
							<dt class="govuk-summary-list__key govuk-summary-list__key-manage-participants">
								<h3 class="govuk-heading-s">ECTs</h3>
							</dt>
						</div>
						
						<div class="govuk-summary-list__row">
							<dd class="govuk-summary-list__actions ">
								<a class="govuk-link" href="#">
									Sam Smith<span class="govuk-visually-hidden"> ect</span>
								</a>
							</dd>
							<dd class="govuk-summary-list__value govuk-summary-list__value-manage-participants">
								<strong class="govuk-tag govuk-tag--green">
									Training
								</strong>
							</dd>
						</div>
						
						<div class="govuk-summary-list__row">
							<dd class="govuk-summary-list__actions ">
								<a class="govuk-link" href="#">
									Jon Anderson<span class="govuk-visually-hidden"> ect</span>
								</a>
							</dd>
							<dd class="govuk-summary-list__value govuk-summary-list__value-manage-participants ">
								<strong class="govuk-tag govuk-tag--green">
									Training
								</strong>
							</dd>
						</div>

						<div class="govuk-summary-list__row">
							<dd class="govuk-summary-list__actions ">
								<a class="govuk-link" href="#">
									Hans Zimmer<span class="govuk-visually-hidden"> ect</span>
								</a>
							</dd>
							<dd class="govuk-summary-list__value govuk-summary-list__value-manage-participants ">
								<strong class="govuk-tag govuk-tag--green">
									Training
								</strong>
							</dd>
						</div>
					</dl>
					<!-- /summary - mentor and assigned ECTs -->

					<hr>
					<br>

					<!-- summary - mentor and assigned ECTs -->
					<dl class="govuk-summary-list govuk-summary-list-card govuk-summary-list--no-border govuk-summary-list--single-border">
						<div class="govuk-summary-list__row">
							<dd class="govuk-summary-list__actions">
								<a class="govuk-link" href="#">
									<strong>Mentor - Robert Carter</strong><span class="govuk-visually-hidden"> mentor</span>
								</a>
							</dd>
							<dd class="govuk-summary-list__value govuk-summary-list__value-manage-participants">
								<strong class="govuk-tag govuk-tag--green">
									Training
								</strong>
							</dd>
						</div>
						
						<div class="govuk-summary-list__row">
							<dt class="govuk-summary-list__key govuk-summary-list__key-manage-participants">
								<h3 class="govuk-heading-s">ECTs</h3>
							</dt>
						</div>
						
						<div class="govuk-summary-list__row">
							<dd class="govuk-summary-list__actions ">
								<a class="govuk-link" href="#">
									Xin Lee<span class="govuk-visually-hidden"> ect</span>
								</a>
							</dd>
							<dd class="govuk-summary-list__value govuk-summary-list__value-manage-participants">
								<strong class="govuk-tag govuk-tag--green">
									Training
								</strong>
							</dd>
						</div>
						
						<div class="govuk-summary-list__row">
							<dd class="govuk-summary-list__actions ">
								<a class="govuk-link" href="#">
									Piotr Smolensky<span class="govuk-visually-hidden"> ect</span>
								</a>
							</dd>
							<dd class="govuk-summary-list__value govuk-summary-list__value-manage-participants ">
								<strong class="govuk-tag govuk-tag--green">
									Training
								</strong>
							</dd>
						</div>

						<!-- example of how we can highlight a participant with an alert -->
						<div class="govuk-summary-list__row">
							<dd class="govuk-summary-list__actions alert">
								<span class="govuk-warning-text__icon-custom-1" aria-hidden="true">!</span> <a class="govuk-link" href="#">
									Javier Montes<span class="govuk-visually-hidden"> ect</span>
								</a>
							</dd>
							<dd class="govuk-summary-list__value govuk-summary-list__value-manage-participants ">
								<strong class="govuk-tag govuk-tag--green">
									Training
								</strong>
							</dd>
						</div>
						<!-- /example of how we can highlight a participant with an alert -->

						<div class="govuk-summary-list__row">
							<dd class="govuk-summary-list__actions ">
								<a class="govuk-link" href="#">
									Djamolidine Abdoujaparov<span class="govuk-visually-hidden"> ect</span>
								</a>
							</dd>
							<dd class="govuk-summary-list__value govuk-summary-list__value-manage-participants ">
								<strong class="govuk-tag govuk-tag--green">
									Training
								</strong>
							</dd>
						</div>
					</dl>
					<!-- /summary - mentor and assigned ECTs -->

					<hr>
					<br>

					<!-- summary - mentor with no assigned ECTs (no problem) eg.mentor is in training -->
					<dl class="govuk-summary-list govuk-summary-list-card govuk-summary-list-card govuk-summary-list--no-border govuk-summary-list--single-border">
						<div class="govuk-summary-list__row">
							<dd class="govuk-summary-list__actions">
								<a class="govuk-link" href="#">
									<strong>Mentor - Shannon Carrera</strong><span class="govuk-visually-hidden"> mentor</span>
								</a>
							</dd>
							<dd class="govuk-summary-list__value govuk-summary-list__value-manage-participants">
								<strong class="govuk-tag govuk-tag--green">
									Training
								</strong>
							</dd>
						</div>
					</dl>
					<!-- /summary - mentor with no assigned ECTs (no problem) eg.mentor is in training -->

					<hr>
					<br>

				</div> <!-- /.wrapper-dashboard-v2 -->

			</form>

		</div>
	</div>

{% endblock %}
