
{% extends "layout.html" %}

{% block pageTitle %}
	Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			
			<span class="govuk-caption-xl">
				ECF Flow
			</span>
			<h1 class="govuk-heading-xl mb20">
				Prototypes and designs
			</h1>

			<strong class="govuk-tag govuk-tag--grey tag-version">
				User research
			</strong>

			<h2 class="govuk-heading-m">
				Dashboard v2
			</h2>

			<details class="govuk-details" data-module="govuk-details">
				<summary class="govuk-details__summary">
					<span class="govuk-details__summary-text">
						v2.6.1
					</span>
				</summary>
				<div class="govuk-details__text">
				
					<ol class="govuk-list govuk-list--number">
						<li>
							<a class="govuk-link" href="/dashboard-v2-6">
								Dashboard
							</a>
						</li>
						<li>
							<a class="govuk-link" href="/manage-mentors-and-ects">
								Manage mentors and ECTs
							</a>
						</li>
						<li>
							<a class="govuk-link" href="/manage-mentors-and-ects-alert-1">
								Manage mentors and ECTs - alert example 1
							</a>
						</li>
						<li>
							<a class="govuk-link" href="/manage-mentors-and-ects-alert-2">
								Manage mentors and ECTs - alert example 2
							</a>
						</li>
						<li>
							<a class="govuk-link" href="/participant-mentor-holly-evans">
								Mentor - Holly Evans
							</a>
						</li>
						<li>
							<a class="govuk-link" href="/participant-ect-jack-nicholson">
								ECT - Jack Nicholson
							</a>
						</li>
						<li>
							<a class="govuk-link" href="/participant-ect-jack-nicholson">
								ECT - John Scott
							</a>
						</li>
					</ol>
				</div>
			</details> <!-- /View financial statement -->

			<h2 class="govuk-heading-m">
				Sign up / sign in
			</h2>

			<details class="govuk-details" data-module="govuk-details">
				<summary class="govuk-details__summary">
					<span class="govuk-details__summary-text">
						v.4.2
					</span>
				</summary>
				<div class="govuk-details__text">
					<h3 class="govuk-heading-s">
						Journey 1
					</h3>

					<ol class="govuk-list govuk-list--number">
						<li>
							<a class="govuk-link" href="/start">
								Start
							</a>
						</li>
						<li>
							<a class="govuk-link" href="/sign-in">
								Sign in
							</a>
						</li>
						<li>
							<a class="govuk-link" href="/send-school-link">
								Request a link to sign in or change the induction tutor
							</a>
						</li>
						<li>
							<a class="govuk-link" href="/link-setup-access">
								Link to set up and manage training / access the service
							</a>
						</li>
						<li>
							<a class="govuk-link" href="/request-link-2">
								What’s your school’s local authority?
							</a>
						</li>
						<li>
							<a class="govuk-link" href="/request-link-3">
								What’s the name of your school?
							</a>
						</li>
						<li>
							<a class="govuk-link" href="/cya">
								Confirm this is your school
							</a>
						</li>
						<li>
							<a class="govuk-link" href="/confirmation">
								Your school has been sent a link
							</a>
						</li>
						
					</ol>
				</div>
			</details> <!-- /View financial statement -->

			<h2 class="govuk-heading-m">
				Documentation and resources
			</h2>

			<ul class="govuk-list govuk-list--bullet">
				<li>
					<a href="https://design-system.service.gov.uk">GOV.UK Design System</a>
				</li>
			</ul>

		</div> <!-- /.govuk-grid-column-two-thirds -->
	</div>

{% endblock %}
