
{% extends "layout.html" %}

{% block pageTitle %}
	Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			
			<header>
				<span class="govuk-caption-xl">
					ECF Flow
				</span>
				<h1 class="govuk-heading-xl">
					Prototypes and designs
				</h1>

				<strong class="govuk-tag govuk-tag--grey tag-version">
					User research
				</strong>
			</header>
			<br>
			<hr>
			<br>

			<h2 class="govuk-heading-m">
				Dashboard v2
			</h2>

			<details class="govuk-details" data-module="govuk-details">
				<summary class="govuk-details__summary">
					<span class="govuk-details__summary-text">
						v2.6.2
					</span>
				</summary>
				<div class="govuk-details__text">
				
					<ol class="govuk-list govuk-list--number">
						<li>
							<a class="govuk-link" href="/dashboard-v2-6-2/dashboard-v2-6">
								Dashboard
							</a>
						</li>
						<li>
							<a class="govuk-link" href="/dashboard-v2-6-2/manage-mentors-and-ects">
								Manage mentors and ECTs
							</a>
						</li>
						<li>
							<a class="govuk-link" href="/dashboard-v2-6-2/manage-mentors-and-ects-alert-1">
								Manage mentors and ECTs - alert example 1
							</a>
						</li>
						<!-- <li>
							<a class="govuk-link" href="/manage-mentors-and-ects-alert-2">
								Manage mentors and ECTs - alert example 2
							</a>
						</li> -->
						<!-- <li>
							<a class="govuk-link" href="/dashboard-v2-6-2/participant-mentor-holly-evans">
								Mentor - Holly Evans
							</a>
						</li>
						<li>
							<a class="govuk-link" href="/dashboard-v2-6-2/participant-ect-russel-burgess">
								ECT - Rusell Burgess
							</a>
						</li>
						<li>
							<a class="govuk-link" href="/dashboard-v2-6-2/participant-ect-jack-nicholson">
								ECT - John Scott
							</a>
						</li>
					</ol> -->
				</div>
			</details> <!-- /v2.6.2 -->

			<details class="govuk-details" data-module="govuk-details">
				<summary class="govuk-details__summary">
					<span class="govuk-details__summary-text">
						v2.6.1
					</span>
				</summary>
				<div class="govuk-details__text">
				
					<ol class="govuk-list govuk-list--number">
						<li>
							<a class="govuk-link" href="/dashboard-v2-6-1/dashboard-v2-6">
								Dashboard
							</a>
						</li>
						<li>
							<a class="govuk-link" href="/dashboard-v2-6-1/manage-mentors-and-ects">
								Manage mentors and ECTs
							</a>
						</li>
						<li>
							<a class="govuk-link" href="/dashboard-v2-6-1/manage-mentors-and-ects-alert-1">
								Manage mentors and ECTs - alert example 1
							</a>
						</li>
						<!-- <li>
							<a class="govuk-link" href="/manage-mentors-and-ects-alert-2">
								Manage mentors and ECTs - alert example 2
							</a>
						</li> -->
						<li>
							<a class="govuk-link" href="/dashboard-v2-6-1/participant-mentor-holly-evans">
								Mentor - Holly Evans
							</a>
						</li>
						<li>
							<a class="govuk-link" href="/dashboard-v2-6-1/participant-ect-russel-burgess">
								ECT - Rusell Burgess
							</a>
						</li>
						<li>
							<a class="govuk-link" href="/dashboard-v2-6-1/participant-ect-jack-nicholson">
								ECT - John Scott
							</a>
						</li>
					</ol>
				</div>
			</details> <!-- /v2.6.1 -->

			<h2 class="govuk-heading-m">
				Sign up / sign in
			</h2>

			<details class="govuk-details" data-module="govuk-details">
				<summary class="govuk-details__summary">
					<span class="govuk-details__summary-text">
						v.4.2
					</span>
				</summary>
				<div class="govuk-details__text">
					<h3 class="govuk-heading-s">
						Journey 1
					</h3>

					<ol class="govuk-list govuk-list--number">
						<li>
							<a class="govuk-link" href="/sign-up-sign-in-v2/start">
								Start
							</a>
						</li>
						<li>
							<a class="govuk-link" href="/sign-up-sign-in-v2/sign-in">
								Sign in
							</a>
						</li>
						<li>
							<a class="govuk-link" href="/sign-up-sign-in-v2/send-school-link">
								Request a link to sign in or change the induction tutor
							</a>
						</li>
						<li>
							<a class="govuk-link" href="/sign-up-sign-in-v2/request-link-2">
								What’s your school’s local authority?
							</a>
						</li>
						<li>
							<a class="govuk-link" href="/sign-up-sign-in-v2/request-link-3">
								What’s the name of your school?
							</a>
						</li>
						<li>
							<a class="govuk-link" href="/sign-up-sign-in-v2/cya">
								Confirm this is your school
							</a>
						</li>
						<li>
							<a class="govuk-link" href="/sign-up-sign-in-v2/confirmation">
								Your school has been sent a link
							</a>
						</li>
						
					</ol>
				</div>
			</details> <!-- /View financial statement -->

			<h2 class="govuk-heading-m">
				Documentation and resources
			</h2>

			<ul class="govuk-list govuk-list--bullet">
				<li>
					<a href="https://design-system.service.gov.uk">GOV.UK Design System</a>
				</li>
			</ul>

		</div> <!-- /.govuk-grid-column-two-thirds -->
	</div>

{% endblock %}
